<div class="container">
    <a href="#" routerLink="/" class="footer"> Yolla Gelsin!</a>
        <nav>
            <ul> 
                <li>
                    <a href="#">
                        <i class="bi bi-facebook social"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-twitter social"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-instagram social"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-linkedin social"></i>
                    </a>
                </li>
            </ul>
        </nav>  
         
</div>
<div class="gooter">   
    <table>
        <tr>
          <td> Terms of Use </td>
          <td> Cookie Policy</td>
          <td> Cookie Policy </td>
          <td> Illumination Text </td>
        </tr>
        <tr>
          <td> </td>
          <td> Trading Guide </td>
          <td>  Contact </td>
          <td> Privacy Policy </td>
        </tr>
        <tr>
          <td> </td>
          <td> Press </td>
          <td> Work With Us </td>
          <td> Information Society Services</td>
        </tr>
      </table>
    <h2> Random Yazılım &#169;</h2>  
</div>